.carousel{
    min-height: 720px;
    padding: 81px 0;
    .swiper-button-prev:after{color:#C70101;}
    .swiper-button-next:after{color:#C70101;}    
    .swiper-pagination{margin-bottom: 100px;}
}

.carousel__inner{    
    img{
        margin: 75px auto;
    }           
}

